<a href="/users">Users</a> | <a href="/logout">Logout</a>
<h1>{{title}}</h1>
<p><b>User Id:</b> {{user.sub}}</p>
<p><b>Name:</b> {{user.name}}</p>
<p><b>Given Name:</b> {{user.given_name}}</p>
<p><b>Family Name:</b> {{user.family_name}}</p>
<p><b>Email:</b> {{user.email}}</p>
<p><b>Username:</b> {{user.preferred_username}}</p>